$nav-color: #5b605f; //panel boczny, nawigacja
$head-color: #4a4a49; //nagłówek, kolor tekstu w kolumnach
$extra-color: #ff6600; //przyciski, wyróżnienia, nagłówki ekranów
$scr-background: #fffffa; //kolor tła ekranów;
$msg-color-info: #3498db; //kolor wiadomości typu info
$msg-color-warning: #ffb03b; //kolor wiadomości typu warning
$msg-color-success: #468966; //kolor wiadomości typu success
$icon-color-bin: #bd4932; //kolor ikony kosza
$table-color-rows: #a1a194; //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

body {
	background-color: $scr-background;
}
// do dodania jeden kolor - tło aplikacji